.App {
  text-align: center;
  background-color: black;
  width: 100vw;
  height: 100vh;
  padding: 20vh 0;
  color:gainsboro;
}

.red{
  color: #d1042b;
}

.yellow{
  color: rgb(236, 170, 47);
}
.timer{
  font-size: 7rem;
}

.timer h1{
  font-size: inherit;
  margin: 0;
}



.btnContainer{
  padding: 3%;
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.btnContainer button{
  background-color: inherit;
  border: 1px solid green;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  color: green;
  cursor: pointer;

}


@media only screen and (max-width:769px){
  
  .btnContainer{
    width:90%;
  }

  .timer{
    font-size: 5rem;
  }
  
}
